- if user_signed_in?
  - if can? :create, Review
    %p
      = link_to "Create Review", new_review_path
  - if @pending_reviews.length > 0
    %h3 Pending Reviews
    %table
      %th Project
      %th Branch
      %th Action
      - @pending_reviews.each do |review|
        %tr
          %td= review.project.name
          %td= review.development_branch
          %td
            - if review.approved?
              .approved_review
                = link_to "Close", review_close_path(review)
            - else
              .open_review
                = link_to "View Diff", review_review_submission_path(review)
- else
  Please sign in to review your code
