= semantic_form_for @project do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name, :input_html => { :size => 50 } 
    = f.input :repo_name, :input_html => { :size => 50 }, :hint => "This must match the repos name in git"
    = f.input :repo_url, :input_html => { :size => 75 }, :hint => "The code review server needs to have access to the project.  Use a readonly url for a public project or add the key to github for a private project."
    %li 
      %p
        The server's public key may need to be added to your project if it is private
      %pre
        = server_public_key
    = f.input :trunk_branch, :input_html => { :size => 50 }, :hint => "This is the default branch your reviews will compare to."
    = f.input :require_manager_approval, :hint => "If this is set to true, the code reviews muts be approved by all users on the project and at least one manager not on the project."
    = f.input :users, :as => :check_boxes, :collection => User.coders, :label => "Members", :hint => "Each selected user here has to accept a code review before it is approved."
  = f.buttons

