= semantic_form_for @review do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :project, :as => :select
    = f.input :trunk_branch
    = f.input :development_branch
    = f.input :description
  = f.buttons
