%h1 Listing reviews

= paginate @reviews
%table
  %tr
    %th Submitter
    %th Project
    %th Development branch
    %th Status
    %th Votes
    %th
    %th
    %th
    %th

  - @reviews.each do |review|
    %tr
      %td= review.submitter.name
      %td= review.project.name
      %td= review.development_branch
      %td= render :partial => "review_status", :locals => { :review => review }
      %td
        Member:
        = review.member_votes.to_s + "/" + review.member_votes_needed.to_s
        - if review.manager_votes_needed > 0
          %br
          Manager:
          = review.manager_votes.to_s + "/" + review.manager_votes_needed.to_s
      %td= link_to "View Diff", review_review_submission_path(review)
      %td
        - if review.submitter == current_user && !review.closed?
          - if review.has_submissions?
            = link_to "Resubmit", review_add_submission_path(review)
          - else
            = link_to "Submit", review_add_submission_path(review)
      %td= link_to 'Show', review
      %td
        - if !review.closed?
          = link_to 'Edit', edit_review_path(review)
      %td
        - if !review.closed?
          = link_to 'Destroy', review, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Review', new_review_path
