%h2 Review

%ul
  %li= @review.submitter.name
  %li= @review.project.name
  %li= @review.development_branch
  %li
    %p= simple_format(@review.description)

.sixteen.columns.clearfix
  .row
    .sixteen.columns.alpha
      %h3 Votes
  .row
    .seven.columns.alpha
      - if @review.closed?
        %p
          Voting is disabled on closed reviews
      - else
        = semantic_form_for @vote, :remote => true, :name => "vote form"  do |f|
          = f.semantic_errors
          = f.inputs do
            = f.input :user_id, :as => :hidden, :value => current_user.id
            = f.input :review_id, :as => :hidden, :value => @review.id
            = f.input :vote, :as => :radio, :collection => ReviewVote.allowable_votes
          = f.buttons do
            = f.commit_button "Vote"
        -# Make this auto submit on vote change.  Also update the member votes partial to update via ajax every few seconds and after this form submits.  May want to add a vote description at some point but that is far in the future.
    .nine.columns.omega
      = render :partial => "member_votes", :locals => { :review => @review }  
  .row
    .sixteen.columns.alpha
      %h3 Comments
  .row
    .five.columns.alpha
      - if @review.closed?
        %p
          Commenting is disabled on closed reviews
      - else
        = semantic_form_for @comment, :url => add_comment_path, :remote => true do |f|
          = f.semantic_errors
          = f.inputs do
            = f.input :user_id, :as => :hidden, :value => current_user.id
            = f.input :review_submission_id, :as => :hidden, :value => @submission.id
            = f.input :comment, :as => :text, :input_html => {:rows => 8, :cols => 35}
          = f.buttons do
            = f.commit_button "Comment"
    .eleven.columns.omega
      - @review.comments.each do |comment|
        .comment_element
          .header
            = comment.post_date.strftime("%b %d, %Y %l:%M %p") + ": " + comment.user.name
          .body
            = simple_format(comment.comment)
      -# The comment section needs the same thing done to it that is happening to the voting section.  It also needs to delete the comments contents on submit.
:javascript
  $(document).ready(function()  {
    $('form[id^=edit_review_vote]').bind("ajax:success", function(event) {
      //cheating and just reloading the page
      location.reload();
      //update_member_votes()
    });
    $('form[id^=new_comment]').bind("ajax:success", function(event) {
      //cheating and just reloading the page
      location.reload();
    });
  });

%h2 
  Submission number
  = @submission.id.to_s

= display_diff(@submission.diff_text)
