%p
  %b Submitter:
  = @review.submitter.name if @review.submitter
%p
  %b Project:
  = @review.project.name
%p
  %b Development branch:
  = @review.development_branch
%p
  %b Close date:
  = @review.close_date
%p
  %b Votes:
= render :partial => "member_votes", :locals => { :review => @review }  

= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
