<!DOCTYPE html>
%html{"xml:lang" => "en"}
  %head
    %meta{"charset" => "utf-8"}
    %title Code Reviewer 
    %meta{"name" => "description", "content" => "Sheet Music Uploader"}
    %meta{"name" => "author", "content" => "Jeremiah Hemphill"}
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .container
      = render :partial => "/shared/user_login_state"
      %p{"class" => "notice"}
        = notice
      %p{"class" => "alert"}
        = alert
      = yield
